body {
    background-color: #022c43;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* START OF SIDEBAR---------------------------------*/
/* -----------------------------------------------*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #181818;
    height: 80px;
    width: 100%;
}

.nav-wrapper a {
    color: #454545;
    /* padding: 14px;    */
    text-decoration: none;
    font-size: 23px;

}

/* .nav-wrapper a:hover {
    color: rgb(255, 255, 255);
} */
.fa-solid:hover {
    animation: fadeIn-icons .8s backwards;
    color: #cfcfcf
}

.fa-brands:hover {
    animation: fadeIn-icons .8s backwards;
    color: #cfcfcf;
}

.navigation {
    margin: 0;
}

.navigation ul {
    padding-inline-start: 0;
    margin: 0;
}

.navigation a {
    padding: 15px;
}

.navigation li {
    justify-items: center;
    list-style-type: none;
    display: inline;
}

.social-icons,
a {
    padding: 10px;
}

.logo .cs-logo {
    padding: 10px;
    width: 60px;
}

@keyframes fadeIn-icons {
    from {
        color: #3f3f3f;
    }

    to {
        color: #cfcfcf;
    }
}


/* END OF SIDEBAR---------------------------------*/
/* -----------------------------------------------*/
.picture{
    width: 90%;
    border-radius: 15px;
}
.picture-area{
    margin: 40px;
    width: 50%;
}
.body-area h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.body-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    float: left;
    font-family: 'Coolvetica';
    margin: 0;
}

.text-zone {
    /* width: 50%; */
    margin: 60px 0px 0px 10px;
    float: left;
    /* margin-top: 100px;
    margin-left: 50px; */
}

.body-area h1 {
    margin: 0px;
}

button {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid #1430f6;
    margin: 15px 10px;
    float: left;
    white-space: nowrap;
    border-radius: 10px;
    background-color: transparent;

}

button:hover {
    animation: fadeInAnimation .5s 0s backwards;
    background: #1430f6;
    color: rgb(255, 255, 255);
}

@keyframes fadeInAnimation {
    from {
        background-color: transparent;
    }

    to {
        background-color: #1430f6;
    }
}

@media screen and (max-width:1200px) {
    .body-area{
        display: flex;
        position:absolute;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
    }
    .picture-area{
        display: flex;
        width: auto;
        justify-content: center;
    }
    .picture{
        max-width: 600px;
        height: auto;
    }
    .text-zone{
        display: flex;
        flex-direction: column;
        margin: 30px;
        align-items: center;
    }
}
@media screen and (max-width:400px) {
    .body-area .text-zone h1{
        font-size: 30px;
    }
}